.login-box {
    margin: auto;
    margin-top: 40vh;
    width: 30vw;
    height: 30vh;
    background-color: #D8BEAB;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-icon {
    width: 5vw;
    background-color: #E4C8B3;
    border-color: #A2806D;
    border-width: 0.4vw;
    border-style: solid;
    border-radius: 5px;
    position: relative;
    top: -5.5vw;
}

.spotify-button {
    display: flex;
    background-color: #1ED760;
    color: white;
    width: 12vw;
    padding: 0.5vw;
    border-radius: 5px;
    gap: 1vw;
}

.spotify-img {
    width: 2.5vw;
    object-fit: contain;   /* prevents squishing */
}

/* Responsive Design */
@media (max-width: 1024px) {
    .login-box {
        width: 40vw;
        height: 35vh;
    }

    .user-icon {
        width: 7vw;
        border-width: 0.5vw;
        top: -7vw;
    }

    .spotify-button {
        width: 15vw;
        padding: 0.7vw;
    }

    .spotify-img {
        width: 3vw;
    }
}

@media (max-width: 768px) {
    .login-box {
        width: 60vw;
        height: 40vh;
        margin-top: 30vh;
    }

    .user-icon {
        width: 10vw;
        border-width: 0.6vw;
        top: -9vw;
    }

    .spotify-button {
        width: 25vw;
        padding: 1vw;
        gap: 1.5vw;
    }

    .spotify-img {
        width: 4vw;
    }
}

@media (max-width: 480px) {
    .login-box {
        width: 80vw;
        height: auto;
        min-height: 250px;
        padding: 20px;
        margin-top: 25vh;
    }

    .user-icon {
        width: 60px;
        border-width: 3px;
        top: -35px;
    }

    .spotify-button {
        width: auto;
        min-width: 180px;
        padding: 12px 16px;
        gap: 10px;
    }

    .spotify-img {
        width: 24px;
    }
}