.login-box {
    margin: auto;
    margin-top: 40vh;
    width: 30vw;
    height: 30vh;
    background-color: #D8BEAB;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-icon {
    width: 5vw;
    background-color: #E4C8B3;
    border-color: #A2806D;
    border-width: 0.4vw;
    border-style: solid;
    border-radius: 5px;
    position: relative;
    top: -5.5vw;
}

.spotify-button {
    display: flex;
    background-color: #1ED760;
    color: white;
    width: 12vw;
    padding: 0.5vw;
    border-radius: 5px;
    gap: 1vw;
}

.spotify-img {
    width: 2.5vw;
    object-fit: contain;   /* prevents squishing */
}