.makerating-box {
    display: flex;
    width: 27.5vw;
    background-color: #D8BEAB;
    border-radius: 15px;
    gap: 1.5vw;
    align-items: center;
    justify-content: center;
}

.makerating-box img {
    width: 2vw;
    object-fit: contain;
}