.makerating-box {
    display: flex;
    width: 19.5vw;
    background-color: #D8BEAB;
    border-radius: 15px;
    gap: 1.5vw;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.makerating-box img {
    width: 2vw;
    object-fit: contain;
}