.sign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    background-color: #E4C8B3;
    border-radius: 5%;
    margin: auto;
    margin-top: 20vh;
}

.sign-button {
    background-color: #A2806D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}