.ratings-header {
    display: flex;
    gap: 2vw;
}

.user-ratings-page {
    padding: 20px;
}

.ratings-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.shelf-container {
    display: flex;
    flex-direction: column;
    gap: 30px; 
  }
  

  .shelf-row {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 140px;
    gap:0;
  }
  
  .albums {
    display: flex;
    flex-wrap: wrap;  
    gap: 20px;
    margin-bottom: 10px;
  }

  
  
  .shelf {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #E4C8B3;
    z-index: 0;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  /* Album items */
  .album-shelf-item {
    z-index: 1; 
  }

  .album-shelf-item:hover {
    transform: translateY(-5px) scale(1.05); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
    cursor: pointer;
}
  
  .album-cover {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
